*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #000;
    background-color: #fff;
    font-family: 'Oxygen Mono', monospace; 
}

#header-nav{
    background-color:gray;
    border-radius: 0;
    border: 0;
    text-align: left;
    width: 100%;
    height: 100px;
    
}

.container{
    margin-left: 5px;
}

#logo-img{
    background:url(/images/logo.png);
    width: 150px;
    height: 150px;
    margin: 15px 10px 15px 0;

}

.navbar-brand{
    padding-top: 30px;
}

.navbar-brand h1{
    color:#000;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: wavy;
}


#nav-list{
    margin-top: 10px;
}

#nav-list a{
    color: #000;
    text-align: center;
}

#nav-list a:hover{
    background: #e7e7e7;
}

#nav-list a span{
    font-size: 1.8em;
}

#phone{
    margin-top: 5px;
}

#phone a{
    text-align: right;
    padding-bottom: 0;
}

#phone div{
    color:#557c3e;
    text-align: right;
    font-weight: bold;
    padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid black;
}

.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: -30px;
}

.menu{
    font-size: 4em;
    font-weight: bold;
    padding-top: 200px;
    text-align: center;
}

.info{
    background-color: gray;
    width: 95%;
    float: middle;
    text-align: center;
    margin-left: 25px;
}
/****************Large Device***************/
@media (min-width:1200px){

}

/****************medium  Device***************/
@media (min-width:992px) and (max-width:1199px){
   
    #logo-img{
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
}

/****************Small Device***************/
@media (min-width:768px) and (max-width:991px) {

}

/****************Extra small device Device***************/
@media (max-width:767px){
      .navbar-brand{
          padding-top: 10px;
          height: 80px;
      }

      .navbar-brand h1{
          padding-top: 10px;
          font-size: 5vw;
      }

      .navbar-brand p{
          text-transform: uppercase;
          font-size: 0.6em;
          margin-top: 12px;
      }

      .navbar-brand p img{
          height: 5px;
          width: 5px;
          padding-top: 0;

      }

      .navbar-brand p span{
        font-size: 0.6em;
    }

    #collapsable-nav a{
        font-size: 1.2em;
    }
    #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
    }
}